<p>
    Paphius quin etiam et Cornelius senatores, ambo venenorum artibus pravis se
    polluisse confessi, eodem pronuntiante Maximino sunt interfecti. pari sorte
    etiam procurator monetae extinctus est. Sericum enim et Asbolium supra
    dictos, quoniam cum hortaretur passim nominare, quos vellent, adiecta
    religione firmarat, nullum igni vel ferro se puniri iussurum, plumbi validis
    ictibus interemit. et post hoe flammis Campensem aruspicem dedit, in negotio
    eius nullo sacramento constrictus.
</p>
<p>
    Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus
    est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est,
    et, quod sortitus sis, non habere. Proficiscetur paludatus? Quo? Quo
    pervenire ante certam diem non licebit. ianuario, Februario, provinciam non
    habebit; Kalendis ei denique Martiis nascetur repente provincia.
</p>
<p>
    Nisi mihi Phaedrum, inquam, tu mentitum aut Zenonem putas, quorum utrumque
    audivi, cum mihi nihil sane praeter sedulitatem probarent, omnes mihi
    Epicuri sententiae satis notae sunt. atque eos, quos nominavi, cum Attico
    nostro frequenter audivi, cum miraretur ille quidem utrumque, Phaedrum autem
    etiam amaret, cotidieque inter nos ea, quae audiebamus, conferebamus, neque
    erat umquam controversia, quid ego intellegerem, sed quid probarem.
</p>
<p>
    Nec vox accusatoris ulla licet subditicii in his malorum quaerebatur acervis
    ut saltem specie tenus crimina praescriptis legum committerentur, quod
    aliquotiens fecere principes saevi: sed quicquid Caesaris implacabilitati
    sedisset, id velut fas iusque perpensum confestim urgebatur impleri.
</p>
<p>
    Duplexque isdem diebus acciderat malum, quod et Theophilum insontem atrox
    interceperat casus, et Serenianus dignus exsecratione cunctorum, innoxius,
    modo non reclamante publico vigore, discessit.
</p>
<p>
    Sin autem ad adulescentiam perduxissent, dirimi tamen interdum contentione
    vel uxoriae condicionis vel commodi alicuius, quod idem adipisci uterque non
    posset. Quod si qui longius in amicitia provecti essent, tamen saepe
    labefactari, si in honoris contentionem incidissent; pestem enim nullam
    maiorem esse amicitiis quam in plerisque pecuniae cupiditatem, in optimis
    quibusque honoris certamen et gloriae; ex quo inimicitias maximas saepe
    inter amicissimos exstitisse.
</p>
<p>
    Haec igitur prima lex amicitiae sanciatur, ut ab amicis honesta petamus,
    amicorum causa honesta faciamus, ne exspectemus quidem, dum rogemur; studium
    semper adsit, cunctatio absit; consilium vero dare audeamus libere. Plurimum
    in amicitia amicorum bene suadentium valeat auctoritas, eaque et adhibeatur
    ad monendum non modo aperte sed etiam acriter, si res postulabit, et
    adhibitae pareatur.
</p>
<p>
    Sed maximum est in amicitia parem esse inferiori. Saepe enim excellentiae
    quaedam sunt, qualis erat Scipionis in nostro, ut ita dicam, grege. Numquam
    se ille Philo, numquam Rupilio, numquam Mummio anteposuit, numquam
    inferioris ordinis amicis, Q. vero Maximum fratrem, egregium virum omnino,
    sibi nequaquam parem, quod is anteibat aetate, tamquam superiorem colebat
    suosque omnes per se posse esse ampliores volebat.
</p>
<p>
    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono
    anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa
    Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla
    sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et
    praefecturae.
</p>
<p>
    Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus
    fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco
    conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso
    equo, cuius modo feci mentionem, si nulla res impediat, nemo est, quin eo,
    quo consuevit, libentius utatur quam intractato et novo. Nec vero in hoc
    quod est animal, sed in iis etiam quae sunt inanima, consuetudo valet, cum
    locis ipsis delectemur, montuosis etiam et silvestribus, in quibus diutius
    commorati sumus.
</p>
<p>
    Paphius quin etiam et Cornelius senatores, ambo venenorum artibus pravis se
    polluisse confessi, eodem pronuntiante Maximino sunt interfecti. pari sorte
    etiam procurator monetae extinctus est. Sericum enim et Asbolium supra
    dictos, quoniam cum hortaretur passim nominare, quos vellent, adiecta
    religione firmarat, nullum igni vel ferro se puniri iussurum, plumbi validis
    ictibus interemit. et post hoe flammis Campensem aruspicem dedit, in negotio
    eius nullo sacramento constrictus.
</p>
<p>
    Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus
    est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est,
    et, quod sortitus sis, non habere. Proficiscetur paludatus? Quo? Quo
    pervenire ante certam diem non licebit. ianuario, Februario, provinciam non
    habebit; Kalendis ei denique Martiis nascetur repente provincia.
</p>
<p>
    Nisi mihi Phaedrum, inquam, tu mentitum aut Zenonem putas, quorum utrumque
    audivi, cum mihi nihil sane praeter sedulitatem probarent, omnes mihi
    Epicuri sententiae satis notae sunt. atque eos, quos nominavi, cum Attico
    nostro frequenter audivi, cum miraretur ille quidem utrumque, Phaedrum autem
    etiam amaret, cotidieque inter nos ea, quae audiebamus, conferebamus, neque
    erat umquam controversia, quid ego intellegerem, sed quid probarem.
</p>
<p>
    Nec vox accusatoris ulla licet subditicii in his malorum quaerebatur acervis
    ut saltem specie tenus crimina praescriptis legum committerentur, quod
    aliquotiens fecere principes saevi: sed quicquid Caesaris implacabilitati
    sedisset, id velut fas iusque perpensum confestim urgebatur impleri.
</p>
<p>
    Duplexque isdem diebus acciderat malum, quod et Theophilum insontem atrox
    interceperat casus, et Serenianus dignus exsecratione cunctorum, innoxius,
    modo non reclamante publico vigore, discessit.
</p>
<p>
    Sin autem ad adulescentiam perduxissent, dirimi tamen interdum contentione
    vel uxoriae condicionis vel commodi alicuius, quod idem adipisci uterque non
    posset. Quod si qui longius in amicitia provecti essent, tamen saepe
    labefactari, si in honoris contentionem incidissent; pestem enim nullam
    maiorem esse amicitiis quam in plerisque pecuniae cupiditatem, in optimis
    quibusque honoris certamen et gloriae; ex quo inimicitias maximas saepe
    inter amicissimos exstitisse.
</p>
<p>
    Haec igitur prima lex amicitiae sanciatur, ut ab amicis honesta petamus,
    amicorum causa honesta faciamus, ne exspectemus quidem, dum rogemur; studium
    semper adsit, cunctatio absit; consilium vero dare audeamus libere. Plurimum
    in amicitia amicorum bene suadentium valeat auctoritas, eaque et adhibeatur
    ad monendum non modo aperte sed etiam acriter, si res postulabit, et
    adhibitae pareatur.
</p>
<p>
    Sed maximum est in amicitia parem esse inferiori. Saepe enim excellentiae
    quaedam sunt, qualis erat Scipionis in nostro, ut ita dicam, grege. Numquam
    se ille Philo, numquam Rupilio, numquam Mummio anteposuit, numquam
    inferioris ordinis amicis, Q. vero Maximum fratrem, egregium virum omnino,
    sibi nequaquam parem, quod is anteibat aetate, tamquam superiorem colebat
    suosque omnes per se posse esse ampliores volebat.
</p>
<p>
    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono
    anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa
    Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla
    sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et
    praefecturae.
</p>
<p>
    Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus
    fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco
    conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso
    equo, cuius modo feci mentionem, si nulla res impediat, nemo est, quin eo,
    quo consuevit, libentius utatur quam intractato et novo. Nec vero in hoc
    quod est animal, sed in iis etiam quae sunt inanima, consuetudo valet, cum
    locis ipsis delectemur, montuosis etiam et silvestribus, in quibus diutius
    commorati sumus.
</p>
