.link-active {
    background-color: #a5d6a7 !important;
    border-radius: 0px;
    font-weight: bold;
}
.menu-item-icon span {
    padding-left: 0.5em;
    padding-right: 2em;
}
.menu-item {
    height: 3em !important;
    font-size: 15px !important;
}
